body {
    background-color: #e8ddc9;
  }

  h1 {
    color: black;
    text-align: center;
    font-size: 22pt;
    font-family: 'TH Sarabun New';
  }
  
p {
    color: black;
    text-align: center;
    font-size: 16pt;
    font-family: 'TH Sarabun New';
}

tr, td {
    color: black;
    text-align: center;
    font-size: 16pt;
    font-family: 'TH Sarabun New';
  }

  option {
    color: black;
    text-align: center;
    font-size: 16pt;
    font-family: 'TH Sarabun New';
  }